.footer {
    overflow: hidden;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkcyan;
    color: white;
}

.footer a {
    float: left;
    text-align: center;
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.footer a:hover {
    background-color: #ddd;
    color: black;
}